*, *::after, *::before {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
:root {
  font: 12pt/1.25 sans-serif;
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a968ff;
}

#App {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#Controls {
  display: flex;
  justify-content: space-between;
}
#AddUser {
  display: flex;
  align-items: center;
}
#Deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MuiButton-root {
  margin-left: 1em !important;
}

.UserCard {
  display: inline-flex;
  flex-basis: 120pt;
  flex-direction: column;
  height: 175pt;
  justify-content: space-between;
  margin: 1em;
  padding: 1em 1em 0;
}
.UserCard .Email {
  font-size: 80%;
  opacity: 0.8;
}
.Avatar {
  border-radius: 50%;
  margin: 0 auto;
}
.CardActions {
  justify-content: center;
}
