*, ::after, ::before {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
:root {
  font: 12pt/1.25 sans-serif;
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#Controls {
  display: flex;
  justify-content: space-between;
}
#AddUser {
  display: flex;
  align-items: center;
}

.UserCard {
  display: inline-flex;
  width:  calc((100% / 7));
  margin: calc((100% / 7) / 14);
  height: 200px;
  padding: .5em;
  flex-direction: column;
  position: relative;
}
.CardAvatar {
  border-radius: 50%;
  box-shadow: 0 0 3pt 1px rgba(0,0,0,0.35);
}
.CardActions {
  justify-content: center;
  position: absolute;
  bottom:0;left:0;right:0;
}
